<div class="form-container">
    <form class="login-form">
      <h2>Login</h2>
      <label for="login-username">Username:</label>
      <input type="email" id="login-username" name="login-username"  [(ngModel)]="loginObj.email" required >
      
      

     
   

        <form [formGroup]="passwordForm">
            <div>
                <label for="login-password">Password:</label>
>
>
<input type="password" id="login-password" name="login-password" formControlName="password" [(ngModel)]="loginObj.password" required>
            <div *ngIf="passwordForm.get('password').invalid && (passwordForm.get('password').dirty || passwordForm.get('password').touched)">
              <div *ngIf="passwordForm.get('password').errors.required">Password is required.</div>
              <div *ngIf="passwordForm.get('password').errors.minlength">Password must be at least 8 characters long.</div>
              <div *ngIf="passwordForm.get('password').errors.pattern">Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.</div>
            </div>
            <button type="submit" [disabled]="passwordForm.invalid">Submit</button>
            <div class="form-buttons">
          </form>
          

    <button type="submit" (click)="onlogin()" [disabled]="login-password.invalid"||  [disabled]="login-username.invalid" >Login</button>

        <a href="https://www.linkedin.com/in/shubham-jeve-518245176/" class="forgot-password-link">Forgot Password?</a> 
        <br><br>
        <a href="##" class="Signup-password-link">Sign Up</a>
      </div>
    </form>
    
    
     
  